
.dropdown-menu {
    li {
      &:hover > .dropdown-item {
        color: $dropdown-link-hover-color;
      }
    }
    .active > .dropdown-item {
      color: $dropdown-link-active-color;
    }
    .active > .dropdown-item,
    .dropdown-item.active {
      pointer-events: none;
    }
  
    &.w-100 { min-width: 100%; }
  }
  
  .dropdown-menu-dark {
    background: $dropdown-dark-bg;
    li {
      &:hover > .dropdown-item {
        color: $dropdown-dark-link-hover-color;
      }
    }
    .active > .dropdown-item {
      color: $dropdown-dark-link-active-color;
    }
  }
  
  .dropdown-item {
    font-weight: $dropdown-font-weight;
  }
  
  
  // Dropdown divider
  
  .dropdown-divider {
    margin: {
      right: $dropdown-item-padding-x;
      left: $dropdown-item-padding-x;
    }
  }
  hr.dropdown-divider {
    border: 0;
    background-color: $dropdown-divider-bg;
  }
  .dropdown-menu-dark hr.dropdown-divider {
    border: 0;
    background-color: $dropdown-dark-divider-bg;
  }
  
  
  // Dropdown menu animation
  
  .dropdown-menu.show {
    animation: fade-in .2s ease-in-out;
  }
  
  @keyframes fade-in  {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  
  // Dropdown menu inside alternative style tabs
  
  .nav-tabs-alt > .nav-item > .dropdown-menu {
    margin-top: -($dropdown-spacer - .125rem) !important;
    border-top-color: transparent;
    @include border-top-radius(0);
  }
  