.card-event {
  height: 500px;

  .img-wrapper {
    position: relative;

    img {
      height: 180px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    .card-event-date {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      background: rgba(#fefefe, 0.8);
      z-index: 100;
      text-align: center;
    }
  }

  .card-event-body {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;

    .card-event-title {
      font-size: 18px;
      min-height: 40px;
    }
  }

  .card-event-data {
    border-top: 1px solid purple;
    width: 100%;
    padding: 5px;
  }
}